<!DOCTYPE html>
<html>
	<head>
		<title>React JS Dersleri 01: CDN</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<!-- React JS Librarys -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
	</head>
	<body>
		<div id="app"></div>
		<script type="text/jsx">
			var App = React.createClass({
			getInitialState: function() {
				return {renk: 'blue'};
			},
			kirmiziYap(yeniRenk) { 
				if(this.state.renk == "blue"){
					this.setState({renk: 'red'});
				}else{
					this.setState({renk: 'blue'});
					
				}				
		
			},
			render: function() {
				return(
					<div> 
					<p onClick={this.kirmiziYap} style={{color:this.state.renk,padding:20}}>Mavi Yazi</p>
					</div>
				)
			}
			});
			ReactDOM.render(<App/>,document.getElementById("app"));
		</script>
	</body>
</html>