<!DOCTYPE html>
<html>
	<head>
		<title>React JS : Babel Transformer and Props</title>
		<meta charset="utf-8">
		<link href="./images/s1.png" rel="shortcut icon" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.js"></script>

	</head>
	<body>
		<div id="icerik"></div>
	</body>
	<script type="text/jsx">
			class Bilesen extends React.Component {
				state = {
					renk: 'coral'
				}

			  renkDegistir(yeniRenk){
				this.setState({renk: yeniRenk});
			  }

			  render() {
				return <div style={{backgroundColor:this.state.renk,padding:20}}>
					<button onClick={()=>this.renkDegistir('red')}>Kırmızı</button>
					<button onClick={()=>this.renkDegistir('green')}>Yeşil</button>
					<button onClick={()=>this.renkDegistir('blue')}>Mavi</button>
				  </div>
			  }
			}

			ReactDOM.render( < Bilesen / > ,
			  document.getElementById('icerik')
			);
	</script>
</html>